<?xml version="1.0"?>
<!-- Copy this file as Web.DB.config and replace all 'SETME' with actual values in the copy -->
<connectionStrings>
  <!--Dev-->
  <add name="eAppsDB" connectionString="data source=.\SQLEXPRESS;initial catalog=eAppsDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework;" providerName="System.Data.SqlClient" />
  <!--Test-->
  <!--<add name="eAppsDB" connectionString="data source=UK-ABI-SQDB05;initial catalog=cadtst;persist security info=True;user id=cad_rw;password=c4d_4pp!;MultipleActiveResultSets=True;App=EntityFramework;" providerName="System.Data.SqlClient" />-->
  <!--Live-->
  <!--<add name="eAppsDB" connectionString="data source=UK-ABI-SQDB05;initial catalog=cadlve;persist security info=True;user id=cad_rw;password=c4d_4pp!;MultipleActiveResultSets=True;App=EntityFramework;" providerName="System.Data.SqlClient" />-->
  <add name="OracleDbContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=oracle_user;Password=oracle_user_password;Data Source=oracle" />
  <!--<add name="IJCdbContext" connectionString="metadata=res://*/Models.IJC.IJCdb.csdl|res://*/Models.IJC.IJCdb.ssdl|res://*/Models.IJC.IJCdb.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=uk-abi-sdbd12:1521/prodev;PASSWORD=m0t0rhead;USER ID=MV&quot;" providerName="System.Data.EntityClient" />-->
  <add name="IJCdbContext" connectionString="metadata=res://*/Models.IJC.IJCdb.csdl|res://*/Models.IJC.IJCdb.ssdl|res://*/Models.IJC.IJCdb.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=uk-abi-sdbl12:1521/prolve;PASSWORD=m0t0rhead;USER ID=MV&quot;" providerName="System.Data.EntityClient" />
  <add name="PostGreSQL" connectionString="server=localhost;user id=postgres;password=admin123;database=eAppsDB" providerName="Npgsql" />
  <add name="IdentityConnection" connectionString="server=localhost;user id=postgres;password=admin123;database=Test_1" providerName="Npgsql" />
</connectionStrings>
